/* Fontes e Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    text-align: center;
}

header {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

header h1 {
    color: #1C1C1C;
    font-size: 2.5rem;
    font-weight: 600;
}

h2{
    margin: 50px;
    font-size: 2.188;;
}

.description {
    color: #1C1C1C;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 5px;
}

.paragraph {
    color: #1C1C1C;
    text-align: left;
    margin: 1em 0;
    border-color: #B18904;
    border-radius: 7px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

section {
    padding: 50px 20px;
}

#about, #mastermusica, #tech {
    background-color: #ffffff;
    color: #1C1C1C;
    margin: 0;
    border-radius: 10px;
    padding: 30px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#about-image {
    flex: 1 1 300px; 
    max-width: 300px; 
}

#about-image img {
    width: 100%;
    max-width: 300px;
    height: 500px; 
    object-fit: cover;
}

.about-text {
    flex: 2 1 500px;
    text-align: justify;
    margin-top: 0px; 
    padding-top: 10px;
    padding-left: 20px;
}



#contact, .contact {
    background-color: #B18904;
    color: #fffbfb;
    padding: 30px;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}

#menu {
    background-color: #B18904;
    font-size: 1.3rem;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

footer {
    background-color: #1C1C1C;
    padding: 15px;
    font-weight: bold;
    color: #ffffff;
}

.banner {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.social-icon {
    color: #fffbfb;
    text-decoration: none;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* Responsividade */



@media (max-width: 320px) {
    header h1 {
        font-size: 1.25rem;
    }
    h2{
        font-size: 0.938rem;
    }
    #menu {
        font-size: 0.938rem;
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    .about-container {
        flex-direction: column;
    }
    #about-image {
        height: 300px;
    }
    .about-text {
        font-size: 0.9rem;
    }
    footer {
        font-size: 0.75rem;
    }
}


@media (max-width: 375px) {
    header h1 {
        font-size: 1.5rem;
    }

    h2{
        font-size: 1.25;
    }

    #menu {
        font-size: 1.25rem;
        width: 100%;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   

}
nav ul {
    flex-direction: column;
    text-align: center;
}
    #about-image {
        height: 350px;
    }
    .about-text {
        font-size: 1rem;
    }

    footer {
        font-size: 0.625;
    }

@media (max-width: 425px) {
    header h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.375rem;
    }
    #menu {
        font-size: 1.375rem;
        width: 100%;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    .about-container {
        flex-direction: column;
    }
    #about-image {
        height: 400px;
    }
    footer {
        font-size: 0.625;
    }
}


@media (max-width: 768px) {
    header h1 {
        font-size: 1.25rem;
    }

    h2{
        font-size:0.938rem;
    }
    #menu {
        font-size: 0.938rem;
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .about-container {
        flex-direction: column;
    }
    #about-image {
        width: 90%;
        height: auto;
    }
    footer {
        font-size: 0.875rem;
    }
}


@media (max-width: 1024px) {
    header h1 {
        font-size: 2rem;
    }

    h2 {
        font-size:1.125rem;
    }
    #menu {
        font-size: 1.125rem;
        width: 100%;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    #about-image {
        width: 80%;
    }
}


@media (max-width: 1440px) {
    header h1 {
        font-size: 2.25rem;
    }

    h2{
        font-size: 1.875rem;
    }
    #menu {
        font-size: 1.875rem;
        width: 100%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    #about-image {
        width: 70%;
    }
}


@media (max-width: 2560px) {
    header h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    #menu {
        font-size: 2.5rem;
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    #about-image {
        width: 60%;
    }
}
